<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-xxl-8 col-lg-10 col-md-10 offset-xxl-2 offset-lg-1 offset-md-1">        
        <h1 id="title" class="d-none d-md-block title text-center mb-2">Aulas sustentables</h1>
        <h1 id="title" class="d-md-none h3 title text-center mb-2">Aulas sustentables</h1>
        <p id="title" class="d-none d-md-block h5 sub-title-login text-center">Optimización de la energía</p>
        <p id="title" class="d-md-none h6 sub-title-login text-center">Optimización de la energía</p>
        <!-- <p class="sub-title text-center">Ingrese su usuario y contraseña para acceder al sistema.</p> -->
        <img src="../../.././../assets/images/logo-sinbg-mini.png" class="img-fluid mx-auto d-block">
        <nb-alert class="mt-3" *ngIf="userOrPassIncorrect" outline="danger" role="alert">
          <p class="alert-title mb-0">Email o contraseña incorrectos</p>
        </nb-alert>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="label" for="input-email">Email:</label>
            <input nbInput fieldSize="large" fullWidth name="email" placeholder="Email" type="text" autofocus
              formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors || userOrPassIncorrect }" />
            <ng-container *ngIf="submitted && f.email.errors">
              <p class="caption status-danger" *ngIf="f.email.errors?.required">
                El email es requerido!
              </p>
              <p class="caption status-danger" *ngIf="f.email.errors?.email">
                El email es invalido!
              </p>
            </ng-container>
          </div>

          <div class="form-group">
            <span class="label-with-link">
              <label class="label" for="input-password">Contraseña:</label>
            </span>
            <input nbInput type="password" fieldSize="large" formControlName="password" class="form-control"
              placeholder="Contraseña" fullWidth name="password" id="input-password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors || userOrPassIncorrect }" />
            <ng-container *ngIf="submitted && f.password.errors">
              <p class="caption status-danger" *ngIf="f.password.errors?.required">
                La contraseña es requerida!
              </p>
            </ng-container>
          </div>

          <button nbButton fullWidth class="mt-2 mb-4" status="primary" size="large" [class.btn-pulse]="submitted">
            Iniciar Sesion
          </button>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>