<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-4 test-">Marca</div>
            <div class="col-8">Descripción</div>
        </div>
    </nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let comandoIR of comandosIR$ | async">
            <div class="row">
                <div class="col-4">
                    <input class="font-weight-inherit" (keyup.enter)="guardarCambio(comandoIR, $event)" type="text" fullWidth nbInput fieldSize="small" [(ngModel)]="comandoIR.marca">
                </div>
                <div class="col-8">
                    <input class="font-weight-inherit" (keyup.enter)="guardarCambio(comandoIR, $event)" type="text" fullWidth nbInput fieldSize="small" [(ngModel)]="comandoIR.modelo">
                </div>
            </div>
        </nb-list-item>
    </nb-list>
</nb-card>