#user-content-uns {
    width:100px;
    height:100px;
}
#user-content-flag {
    width:100px;
    height:70px;
}
#user-content-dcic {
    width:90px;
    height:90px;
}
#user-content-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}