.custom-button {
    min-width: 160px;
    justify-content: start !important;
}

nb-select.mini-dropdown {
    button {
        min-width: auto !important;
        padding-left: .4rem !important;
    }
}

.options-list-container {
    min-width: 100px !important;
}

nb-card {
    border: 0px !important;
    nb-card-header.card-semi-round {
        border-radius: 0.75rem !important;
        // border-color: #3366ff !important;
    }
}

.dropdown-toggle {
    border-color: transparent;
}

.dropdown-toggle::after {
    display: none;
}

.dropup .dropdown-toggle::after {
    display: none;
}

.seleccionable {
    cursor: pointer;
}

.list-seleccionable:hover {
    background-color: rgba(0,0,0,.03);
}

.font-weight-inherit {
    font-weight: inherit !important;
}

.custom-file-label::after {
    content: "Elegir";
}

ngx-status-card.nostatus {
    .status {
        visibility: hidden !important;
    }
}

.scroll {
    max-height: calc(100vh - 200px);
    overflow: auto !important;
}