<h1 *ngIf="aulaData.nombre !== ''">{{ aulaData.departamento + ' - ' + aulaData.nombre + ' ( ' + aulaData.nodoMac + ' )' }}</h1>
<!-- <h1 >{{ aulaData.departamento + ' - ' + aulaData.nombre + ' ( ' + aulaData.nodoMac + ' )' }}</h1> -->
<h2 class="pb-2">Estado del aula: {{(movimiento | async) ? 'En uso': 'vacía'}}</h2>
<h2 class="pb-2">Tiempo Vacia: {{(tiempoVacia | async)}}</h2>
<h2 class="pb-2">Tiempo Lecturas: {{(tiempoEntreLecturas | async) + ' - Actualmente en desuso'}}</h2>
<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card (click)="onClickStatusButton(statusCard)" id="statusCard.actuadorId"
      [title]="statusCard.title" [type]="statusCard.type" [on]="statusCard.status">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>


<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <ngx-sensor-display [title]="'Temperatura'" [value]='(temperatura | async)' [unit_name]="'Celsius'"
      [unit_symbol]="'temperature'" [minValue]=0 [maxValue]=100 [displayOff]=false></ngx-sensor-display>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <ngx-sensor-display [title]="'Humedad'" [value]='(humedad | async)' [unit_name]="'%'" [unit_symbol]="'none'"
      [minValue]=0 [maxValue]=100 [displayOff]=false></ngx-sensor-display>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <ngx-sensor-display [title]="'Luminocidad'" [value]='(luminocidad | async)' [unit_name]="'Lux'"
      [unit_symbol]="'none'" [minValue]=1 [maxValue]=5000 [displayOff]=false></ngx-sensor-display>
  </div>
</div>
